.blue-bg {
    background-color: #ADD8E6; /* Light blue */
  }

  .recipe-image {
  }
  
  /* Media query for large screens */
  @media (min-width: 992px) { /* Bootstrap large screen breakpoint */
    .recipe-image {
      width: 80%;
    }
  }

  #rs-recipe-list {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-direction: column; 
    width: 100%; 
  }

  
  #wd-modules {
    width: 80%;  /* Adjust the width of the recipe list */
  }