#rs-navigation {
  z-index: 5;
}

#recipe-signin {
  margin: auto;
  width: fit-content;
}

#recipe-signup {
  margin: auto;
  width: fit-content;
}

#recipe-profile-name {
  font-size: 4em;
}

#recipe-profile-username {
  font-size: 2em;
}

.profile-image-holder {
  padding: 1em;
}

.profile-image {
  border: 1rem;
  padding: 2%;
  border-style: double solid;
  border-color: rgb(0, 0, 0);
}

.profile-image-edit-holder {
  position: relative;
}

.profile-image-edit {
  border: 1rem;
  padding: 2%;
  border-style: double solid;
  border-color: rgb(0, 0, 0);
  background-color: rgba(7, 0, 63, 0.897);
  opacity: 0.5;
}

.selector-dropdown {
  padding: 0;
}
.selector-dropdown:after {
  content: none;
}

.image-edit-cam {
  position: absolute;
  top: 45%;
  left: 45%;
}

.recipe-profile-badge {
  font-size: large;
  margin: 5px;
}

.profile-card-holder {
  padding: 1em;
}

.recipe-profile-nav {
  background-color: #ADD8E6;
}

.recipe-user-card {
  margin: 5px;
}

#recipe-profile-bottom {
  background-color: #ADD8E6;
}

#app {
  padding: 1em;
}

.active-link {
  background-color: #007bff;
  color: white;
}
