#recipe-profile-name {
  font-size: 4em;
}

#recipe-profile-username {
  font-size: 2em;
}

.profile-image-holder {
  padding: 1em;
}

.profile-image {
  border: 2rem;
  padding: 2rem;
  border-style: groove;
  border-color: rgb(30, 126, 70);
}

.recipe-profile-badge {
  font-size: large;
  margin: 5px;
}

.profile-card-holder {
  padding: 1em;
}

#recipe-profile-bottom {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
